        #hello{
            color: aqua;
        }
        h1{
            color: RED;
        }
        .hello{
            color: black;
        }
        *{
            margin: 0px;
            padding: 0px;
        }
        h1, h2{
            background: #000;
        }
.main{
    font-family: "Noto Sans", 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 40px;
    font-style: italic;
}
.mainp{
    font-weight: 200;
    font-size: 40px;
    font-style: italic;
}